<div class="background-container">
    <div class="parent-container col-12">
        <div style="display:inline-flex;width: 100%;"  class="flex-row page-label col-12">
            <span style="margin-left:20px;margin-top: 5px;" class="col-2 fas fa-arrow-left"></span>
            <span class="page-label col-8">Accident Cover Quote</span>
        </div>
    </div>
    <p style="text-align: center; color:gray;">Enter The Correct Information</p>
    <form>
        <div class="life-type-controls">
            <label for="life-type">Choose Accident Cover Type Bundle</label>
            <select id="life-type" class="form-select select">
                <option>PERMANENT INJURY</option>
            </select>
        </div>
        <div class="password-controls">
            <label for="beneficiary">Beneficiary Name</label>
            <input id="beneficiary" type="text" class="form-control input-text"/>
        </div>
        <div class="password-controls">
            <label for="beneficiary-amount">Amount Beneficiary Receives</label>
            <input id="beneficiary-amount" type="text" class="form-control input-text"/>
        </div>
        <div class="password-controls">
            <label for="annual-salary">Annual Salary</label>
            <input id="annual-salary" type="text" class="form-control input-text"/>
        </div>
        <div class="password-controls">
            <label for="term">Term</label>
            <input id="term" type="text" class="form-control input-text"/>
        </div>
        <div class="plan-controls">
            <label for="plan">Payment Plan</label>
            <select id="plan" class="form-select select">
                <option>WEEKLY</option>
                <option>MONTHLY</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary submit">Next</button>
    </form>
</div>