
  <div class="flex-row-wrap-gap-10">
    <h4>Sign Up</h4>
    <div class="form-container">
        <form>
            <div class="col-12 flex-row-10">
                <div class="col-6">
                    <label for="email">First Name</label>
                    <input id="email" type="text" class="form-control"/>
                </div>
                <div class="col-6">
                    <label for="password">Last Name</label>
                    <input id="password" type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-12">
                <label for="email">Email Address</label>
                <input id="email" type="email" class="form-control"/>
            </div>
            <div style="margin-top: 20px;" class="col-12 flex-row-10">
                <div class="col-4">
                    <div class="plan-controls">
                        <label for="plan">Phonenumber</label>
                        <select id="plan" class="form-select select">
                            <option>+234</option>
                        </select>
                    </div>
                </div>
                <div class="phone-control col-8">
                    <input id="phone" type="text" class="form-control"/>
                </div>
            </div>
            <div class="password-control col-12 ">
                <label for="plan">Password</label>
                <input id="password" type="text" class="form-control"/>
            </div>

        </form>
        <div class="col-12 policy flex-row">
            <input id="policy-doc" type="checkbox" class="checkbox col-1"/>
            <label class="col-10 agreement" for="policy-doc">I agree to the <a class="link" href="">Terms and Conditions</a> and the <a class="link" href="">Privacy Policy</a></label>
        </div>
        <div  class="flex-row-10-justify-to-center signup">
            <div class="fingerprint flex-row-10-justify-to-center">
                <p class="signup" >Sign up</p>
            </div>
        </div>
        <p class="signup"><b>Already have an account? Sign in!</b></p>
        <div class="flex-col-10 lower-auth">
            <div style="display: inline-flex;justify-content: center; align-items: center;" class="flex-row col-12">
                <p class="hr col-3"></p>
                <p style="color:steelblue;" class="or">OR</p>
                <p  class="hr col-3"></p>
            </div>
            
            <div class="flex-row-10-justify-to-center">
                <div class="flex-row-90 ">
                    <div class="round-social twitter"></div>
                    <div class="round-social google"></div>
                </div>
            </div>
        </div>

    </div>
  </div>