<app-custom-alert *ngIf="alertMessage != ''"
[show]="showAlert"
[message]="alertMessage"
[duration]="alertDuration"
[backgroundColor]="alertBackgroundColor"
></app-custom-alert>

  <div class="flex-row-wrap-gap-10">
    <h4>Sign Up</h4>
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <!-- <div class="col-12 flex-row-10">
                <div class="col-6">
                    <label for="email">First Name</label>
                    <input id="email" type="text" class="form-control"/>
                </div>
                <div class="col-6">
                    <label for="password">Last Name</label>
                    <input id="password" type="text" class="form-control"/>
                </div>
            </div> -->
            <div class="col-12">
                <label for="email">Email Address</label>
                <input (keyup)="checkForActivation()" [(ngModel)]="user.email" name="email" id="email" type="email" required class="form-control"/>
                <div class="alert-danger error" *ngIf="requiredErrors('email')" >
                    <div class="error" >Email address is required</div>
                </div>
            </div>
            <!-- <div style="margin-top: 20px;" class="col-12 flex-row-10">
                <div class="col-4">
                    <div class="plan-controls">
                        <label for="plan">Phonenumber</label>
                        <select [(ngModel)]="areaCode" name="areacode" class="form-select select">
                            <option>+234</option>
                        </select>
                    </div>
                </div>
                <div class="phone-control col-8">
                    <input [(ngModel)]="user.phoneNumber" name="phoneNumber" id="phoneNumber" id="phone" type="telephone" class="form-control"/>
                </div>
            </div> -->
            <div class="password-control col-12 ">
                <label for="plan">Password</label>
                <input (keyup)="checkForActivation()" [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control"/>
                <div class="alert-danger error" *ngIf="requiredErrors('password')" >
                    <div class="error" >Password is required</div>
                </div>
            </div>
            <div class="password-control col-12 ">
                <label for="plan">Password Again</label>
                <input (keyup)="checkForActivation()" [(ngModel)]="passwordAgain" name="passwordAgain" id="passwordagain" type="password" class="form-control"/>
                <div class="alert-danger error" *ngIf="requiredErrors('passwordagain')" >
                    <div class="error" >You must re-enter your password</div>
                </div>
            </div>

        
            <div class="col-12 policy flex-row">
                <input (change)="setTermsConditionsAgreed()" id="policy-doc" type="checkbox" class="checkbox col-1"/>
                <label class="col-10 agreement" for="policy-doc">I agree to the <a class="link" href="">Terms and Conditions</a> and the <a class="link" href="">Privacy Policy</a></label>
            </div>
            <button [(disabled)]="!activateButton" type="submit" class="btn btn-primary submit">Login</button>
            <p class="signup"><b>Already have an account? Sign in!</b></p>
        </form>
        <div class="flex-col-10 lower-auth">
            <div style="display: inline-flex;justify-content: center; align-items: center;" class="flex-row col-12">
                <p class="hr col-3"></p>
                <p style="color:steelblue;" class="or">OR</p>
                <p  class="hr col-3"></p>
            </div>
            
            <div class="flex-row-10-justify-to-center">
                <div class="flex-row-90 ">
                    <div class="round-social twitter"></div>
                    <div class="round-social google"></div>
                </div>
            </div>
        </div>

    </div>
  </div>