
  <div class="flex-row-wrap-gap-10">
    <h4>Login</h4>
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="email-controls">
                <label for="email">Email Address</label>
                <input id="email" [(ngModel)]="user.email" name="email" type="email" class="form-control"/>
            </div>
            <div class="password-controls">
                <label for="password">Password</label>
                <input id="password" [(ngModel)]="user.password" name="password" type="password" class="form-control"/>
                <p class="forgot"><a class="forgot-pass" href="">Forgot password?</a></p>
            </div>
            <button type="submit" class="btn btn-primary submit">Login</button>
        </form>
        <p class="signup"><b>Don't have an account? Sign up!</b></p>
        <div class="flex-col-10 lower-auth">
            <div style="display: inline-flex;justify-content: center; align-items: center;" class="flex-row col-12">
                <p class="hr col-3"></p>
                <p style="color:steelblue;" class="or">OR</p>
                <p  class="hr col-3"></p>
            </div>
            <div class="flex-row-10-justify-to-center">
                <div class="fingerprint flex-row-10-justify-to-center">
                    <div>Icon</div>
                    <p class="fingerprint-text">Fingerprint authentication</p>
                </div>
            </div>
            <div class="signup">Or Continue with</div>
            <div class="flex-row-10-justify-to-center">
                <div class="flex-row-90 margin-30">
                    <div class="round-social twitter"></div>
                    <div class="round-social google"></div>
                </div>
            </div>
        </div>

    </div>
  </div>